@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*always link your fonts above these 3 lines of tailwind css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* below this line your can add your custom css if necessary */
body{
    background-color: #f7f7f7;
    font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}